/* TalentUserPage.css */

.loading, .error, .no-data {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.profile {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.container-custom {
    padding: 10px;
    background-color: #aaa;
    border-radius: 5px;
}